
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BazTechStudio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/career.css' %}">
<style type="text/css"> a {text-decoration:none;}</style>
</style>
</head> 

 <body>
	<div class=container>
		<div class="sidebar">
			<div class="sidebar-sticky">
				<div class="sidebar-about">
					<h1>
						<a href="http://www.baztechstudio.com/">
							Vikneshvar Chandrahasan
						</a>
					</h1>
					<p class="lead"> Learn, Explore, Innovate </p>
				</div>
				<nav class="sidebar-nav">
				<a class="sidebar-nav-item" href="profile">Profile</a>
				<a class="sidebar-nav-item active" href="career">Career Timeline</a>
				<a class="sidebar-nav-item" href="tech">Technical Skill</a>
				<a class="sidebar-nav-item" href="rp">Research</a>
				<a class="sidebar-nav-item" href="ap">Academic Projects</a>
				<a class="sidebar-nav-item" href="contact">Contact</a>
				</nav>
			</div>
			<div class="copyright">
				<p>
				Copyright by Vik Chand © 2017 - Made with <a href="https://www.djangoproject.com/">Django</a>
				</p>
			</div>
		</div>

	<div class="maincontent">
		<h1 class="page-title">Career Timeline</h1>
		<div class="timeline">
		  <div class="container2 left">
			<div class="content">
			  	June 2016 – Dec 2017 <br><br>
			  	Student Assistant - IT Department <br>
				California State University  <br><br>
					<li>Managed database reporting activities for 2000+ university faculties. Analyzed and queried Oracle PeopleSoft database to generate 5-10 reports for each staff every day by aggregating, sorting and filtering data.
					</li> <br>

			</div>
		  </div>
		  <div class="container2 right">
			<div class="content">
			  	Aug 2017 – Sep 2017 <br><br>
			  	Machine Learning Engineer Intern <br>
				Vertex Packaging Supplies  <br><br>
					<li>Built multiple convolutional neural networks algorithms to recognize objects, text, and symbols using Google street view for city infrastructure planning.
					</li>  
			</div>
		  </div>
		  <div class="container2 left">
			<div class="content">
			  	May 2017 – July 2017 <br><br>
			  	Machine Learning Engineer Intern <br>
				Lynt Inc.  <br><br>
					<li>Developed product recommendation algorithms by collaborative filtering of behavioral and financial characteristics of a customer. 
					</li> 
			</div>
		  </div>
		  <div class="container2 right">
			<div class="content">
			  	Oct 2013 – Jan 2016 <br><br>
			  	Software Engineer <br>
				Tata Consultancy Services <br><br>
					<li>Governed technical design and development of Android, iOS, Hybrid and BI Apps. Worked on Google Glass and Samusung Gear and built PoC for Smart Cities, Mobile Payments. 
					</li>

			</div>
		  </div>
		  <div class="container2 left">
			<div class="content">
			  	Jan 2013 – May 2013 <br><br>
			  	Product Development Intern <br>
				Schneider Electric Ltd.  <br><br>
					<li>Created a Real-time power station monitoring mobile application incorporating cloud computing. Developed time series and cross-sectional visualization and dashboards. 
					</li> 
			</div>
		  </div>
		</div>
	</div>
</body>

</html>
