
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BazTechStudio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
<style type="text/css"> a {text-decoration:none;}</style>
</style>
</head> 

 <body>
	<div class=container>
		<div class="sidebar">
			<div class="sidebar-sticky">
				<div class="sidebar-about">
					<h1>
						<a href="http://www.baztechstudio.com/">
							Vikneshvar Chandrahasan
						</a>
					</h1>
					<p class="lead"> Learn, Explore, Innovate </p>
				</div>
				<nav class="sidebar-nav">
				<a class="sidebar-nav-item" href="profile">Profile</a>
				<a class="sidebar-nav-item" href="career">Career History</a>
				<a class="sidebar-nav-item" href="tech">Technical Skill</a>
				<a class="sidebar-nav-item" href="rp">Research Projects</a>
				<a class="sidebar-nav-item" href="ap">Academic Projects</a>
				<a class="sidebar-nav-item active" href="contact">Contact</a>
				</nav>
			</div>
			<div class="copyright">
				<p>
				Copyright by Vik Chand © 2017 - Made with <a href="https://www.djangoproject.com/">Django</a>
				</p>
			</div>
		</div>

	<div class="maincontent">
		<h1 class="page-title">Contact & Social Profiles</h1>
		<table cellpadding="0" cellspacing="10" style="width: 50%">
			<tr>
				<td><img src="static/images/linkedin.png" class = "image" alt="img-mail" /></td>
				<td><h2><a href="https://www.linkedin.com/in/crvikneshvar">LinkedIn</a></h2></td>
			</tr>
			<tr>
				<td><img src="static/images/github.png" class = "image" alt="img-mail" /></td>
				<td><h2><a href="https://github.com/Vikneshvar">GitHub</a></h2></td>
			</tr>
			<tr>
				<td><img src="static/images/stack.png" class = "image" alt="img-mail" /></td>
				<td><h2><a href="https://stackoverflow.com/users/3522986/v-nesh">Stack Overflow</a></h2></td>
			</tr>
			<tr>
				<td><img src="static/images/gmail.png" class = "image" alt="img-mail" /></td>
				<td><h2><a href="mailto:cvikneshvar@csu.fullerton.edu?subject=Feedback">Email</a></h2></td>
			</tr>
		</table>
	</div>
</body>

</html>
