
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BazTechStudio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
<style type="text/css"> a {text-decoration:none;}</style>
</style>
</head> 

 <body>
	<div class=container>
		<div class="sidebar">
			<div class="sidebar-sticky">
				<div class="sidebar-about">
					<h1>
						<a href="http://www.baztechstudio.com/">
							O O
						</a>
					</h1>
					<p class="lead"> Learn, Explore, Innovate </p>
				</div>
				<nav class="sidebar-nav">
				<a class="sidebar-nav-item active" href="http://www.baztechstudio.com">Profile</a>
				<a class="sidebar-nav-item" href="research.html">Research Projects</a>
				<a class="sidebar-nav-item" href="http://www.baztechstudio.com">Academic Projects</a>
				<a class="sidebar-nav-item" href="http://www.baztechstudio.com">Contact</a>

				</nav>
			</div>
		</div>

	<div class="maincontent">
		<h1> Hii </h1>
		<p> Startup collaborator and research-oriented graduate student specializing in building Machine Learning - Artificial Intelligence Algorithms to solve business and societal problems. 
		<br>
		<br>
		My research areas are Economic & Social Development (Disaster Preparedness, Climate Change, Food Security), Healthcare (Medicare Payments, Hospital Ratings, Cancer detection, and Elderly management), Retail Management (Product Recommendations and Price Optimization), Image Recognition and Natural language Processing (Political Polarization, Sentimental Analysis). 
		<br>
		Previously, I was working as an Analytical Software Engineer developing Mobile (Android/iOS/Hybrid) Applications, Web Services, and Databases. I have professional experience in business storytelling, client interaction and collaborating with business and technical teams. 
		<br>
		Overall, I have four years of experience in Statistics, Data Analysis and Software Programming. Currently researching on “Political Polarization” using Natural language processing. Winner of Teradata Partners 2017 Analytics competition. 
		</p>
		</div>
	</div>
</body>

</html>
