
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BazTechStudio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
<style type="text/css"> a {text-decoration:none;}</style>
</style>
</head> 

 <body >
    <div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="http://www.baztechstudio.com/">
          Vikneshvar Chandrahasan
        </a>
      </h1>
      <p class="lead">Love Research & Innovation <br> keep learning <br> Interested in Politics <br> Want to contribute to the society </p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="http://www.samuel-drapeau.info/">Profile</a>
            <a class="sidebar-nav-item" href="research.html">Current Research</a>
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/research/">Career History</a>   
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/CV/">Data Science</a>
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/CV/">Mobile development</a>
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/CV/">Innovations</a>
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/activities/">Activities</a>
    </nav>
  </div>
</div>


    <div class="content container">
      <h1 class="page-title">Profile</h1>
<hr>

<dl>
  <dt>Education</dt>
  <br>
  <dd>Master of Science in Information Systems <br>
      Major: Business Analytics<br>
      Califonia State University-Fullerton, USA</dd>
      <br>
  <dd>Bachelor of Science in Electronic & Communication <br>
      Major: Digital Signal Processing<br>
      Anna University, India</dd> 
</dl>
<hr>
<dl>
  <dt>Contact</dt>
  <br>
  <dd>Email: cvikneshvar@csu.fullerton.edu </dd>
</dl>
<hr>
<dl>
  <dt>Research</dt>
  <dd><ol>
    <li>Utilizing Medicare - HCC Risk Adjustment Factor (RAF) score and physical impairments of elderly people to develop Emergency Vulnerability Index (EVI) of regions in Los Angeles and Orange County</li> <br>
    <li> Evaluating the spatial distribution of health facilities and Vulnerable regions to help first responders prepare for disaster</li><br>
    <li>Analyzing the correlation between Healthcare Associated Infections (HAI) and HCAHPS Star rating to provide insights to the hospital and evaluate the factors that contribute to high hospital rating by exploring the patient’s survey response</li>
  </ol></dd>
</dl>
<hr>
<dl>
  <dt>Carrer History</dt>
  <br>
  <dd> <ol>
    <li>Oracle PeopleSoft Analyst - Student Assistant <br>
    California State University, Fullerton  <br>
    June, 2016 – Present <br> 
      <ul>
        <br>
        <li>Forecast optimal training completion time by analyzing historical data of enrolment, progress & completion
          </li> <br>
         <li>Perform data analysis, data entry, data auditing and database management of University employee training database
         </li> <br>
         <li>Collect, collate and carry out complex data analysis and report the statistical findings to senior leads & managers. </li><br>
         <li>Generate complex database report by integrating multiple data sources and perform incident/ticket management
          </li><br>
          <li>Liaise between stakeholders and employees to make appropriate and well-reasoned recommendations and decisions in support of 
          </li>
      </ul>
      <br>
 <li> Mobile Software Developer | Systems Engineer <br>
    Tata Consultancy Services, India  <br>
    Octobet, 2013 – January, 2016 <br> 
      <ul>
        <br>
        <li> Carried out Research in "Wearable devices to enhance retail experience" - Created applications for Google Glass with 360° - 3D visuals, Optical character recognition and workflow management for Samsung Gear. Integrated customers in-store and online shopping experience with an Android application to simplify purchase with store maps, bar code scan, and mobile payments</li><br>
         <li>Interacted with business stakeholders to perform analysis of business requirements and transformed them into technical requirements for SQL Database design, ETL and Reporting needs. Developed Node JS, MongoDB databases for online transaction processing systems and created stored procedures and functions to support data storage and manipulation. Experience in designing Data Warehouse and Data marts by setting metrics, facts and dimensions.
         </li><br>
         <li>Played a vital role in analyzing and conceptualizing the business requirements, designing architectural framework, building data models, and implementing SSAS and SSRS solutions using dashboards and Tableau vizualizations.</li><br>
         <li>Conducted market research, consumer studies and retail landscape study for the Retail and eCommerce companies to improve customer reach and product placement. Assessed customer lifetime value to develop forecasting models as part of a concentrated effort to reduce Churn rate for a Telecom client</li><br>
          <li>Governed technical design and development of native Mobile applications for Android and iOS. Experience in developing hybrid applications for multi-platform using HMTL5, CSS3, JS and PhoneGap. Created 100+ scripts for the automation of mobile application testing (Integration & System testing
          </li>
      </ul>
      <br>
  <li> Product Development Engineer | Networking - Intern <br>
    Schneider Electric, India  <br>
    January, 2013 – April, 2013 <br> 
      <ul>
        <br>
        <li> Performed Real-time Analytics & Decision making - Established a intranet based real-time activity monitoring system for the secondary level Substations. Identified performance evaluation criteria for 220 power station with daily performance tracking, and ad hoc analysis for prompt problem solving.</li><br>
         <li>Implemented a system to analyze the substation data, act upon the critical conditions, and make decisions based on the recommendations. Delivered an innovative mobile application with visual dashboard and reports to present power station transmission and load maintenance capabilities.</li><br>
         <li>Prototyped visualization of time series and mobile dashboard to integrate reports and forecast critical scenarios. Optimized T-SQL queries and extracted data from the SQL databases as per the user's requests.</li>  
      </ul>
      <br>
    <ol>
    </dd>
</dl>

</body>

</html>