{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BazTechStudio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
<style type="text/css"> a {text-decoration:none;}</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111510881-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111510881-1');
</script>

</head> 

 <body>
  <div class=container>
    <div class="sidebar">
      <div class="sidebar-sticky">
        <div class="sidebar-about">
          <h1>
            <a href="../profile">
              Vikneshvar Chandrahasan
            </a>
          </h1>
          <p class="lead"> Learn, Explore, Innovate </p>
        </div>
        <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="../profile">Profile</a>
        <a class="sidebar-nav-item" href="../career">Career Timeline</a>
        <a class="sidebar-nav-item" href="../tech">Skills & Softwares</a>
        <a class="sidebar-nav-item active" href="../rp">Research Work</a>
        <a class="sidebar-nav-item" href="../ap">Projects</a>
        <a class="sidebar-nav-item" href="../contact">Contact</a>
        </nav>
      </div>
      <div class="copyright">
        <p>
        Copyright by Vikneshvar © 2017 - Python <a href="https://www.djangoproject.com/">Django</a>
        </p>
      </div>
    </div>

  <div class="maincontent">
    <h1 class="page-title">Research Projects</h1>
    <dl>
      <ol>
        <br>
        <li>
          <h2>Public Health Risk Analysis and Geographical Mapping</h2>
          <h4>Tools Used: Arc GIS, SAS, Python, MS Excel</h4>
          <h4> Dataset: Centers for Medicare & Medicaid Services, US Census Bureau</h4>
            <p> This project establishes measures such as Emergency Vulnerability Index (EVI) and Healthcare Emergency Accessibility index (HEAI) to assess the risk associated with the frail elderly population living in a particular region based on their vulnerability and healthcare reachability.The socio-economic conditions, chronic illness, and old age make people highly vulnerable to natural or man-made disasters and hazards. In addition, the unavailability and inaccessibility of health care resources during emergency deprives the chances of saving them. 
            </p>
            <img src="{% static "images/r2/r2_2.jpg" %}" class = "imageRe" alt="img-mail" />
            <img src="{% static "images/r2/r2_3.jpg" %}" class = "imageRe" alt="img-mail" />
            <img src="{% static "images/r2/r2_1.jpg" %}" class = "imageRe" alt="img-mail" />
            <img src="{% static "images/r2/r2_4.jpg" %}" class = "imageRe" alt="img-mail" />
            <img src="{% static "images/r2/r2_5.jpg" %}" class = "imageRe" alt="img-mail" />
        </li>
      </ol>
      <br>
    </dl>
    </div>
  </div>
</body>

</html>
