
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BazTechStudio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
<style type="text/css"> a {text-decoration:none;}</style>
</style>
</head> 

 <body >
    <div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="http://www.baztechstudio.com/">
          Vikneshvar Chandrahasan
        </a>
      </h1>
      <p class="lead">####################################### Research & Innovation <br> keep learning <br> Interested in Politics <br> Want to contribute to the society </p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="http://www.samuel-drapeau.info/">Profile</a>
            <a class="sidebar-nav-item" href="research.html">Current Research</a>
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/research/">Career History</a>   
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/CV/">Data Science</a>
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/CV/">Mobile development</a>
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/CV/">Innovarion</a>
            <a class="sidebar-nav-item" href="http://www.samuel-drapeau.info/activities/">Activities</a>
    </nav>
  </div>
</div>


    <div class="content container">
      <h1 class="page-title">Profile</h1>
<hr>

<dl>
  <dt>Education</dt>
  <br>
  <dd>Master of Science in Information Systems <br>
      Major: Business Analytics<br>
      Califonia State University-Fullerton, USA</dd>
      <br>
  <dd>Bachelor of Science in Electronic & Communication <br>
      Major: Digital Signal Processing<br>
      Anna University, India</dd>
     
</dl>

<hr>

<dl>
  <dt>Contact:</dt>
  <br>
  <dd>Email: cvikneshvar@csu.fullerton.edu <br>
      Tel: +01-00-2343-423</dd>
  <br>
  <dt>Social Network:</dt>  
</dl>

<hr>

<p>I have a position as Associate Professor (Distinguished Research Fellow) at the <a href="http://en.sjtu.edu.cn/">Shanghai Jiao Tong University</a> in China.
My position is shared between the <a href="http://www.math.sjtu.edu.cn/">School of Mathematical Sciences</a> and the Shanghai Advanced Institute of Finance <a href="http://saif.sjtu.edu.cn/">(SAIF)</a> in the China Academy of Finance and Research <a href="http://en.cafr.cn/">(CAFR)</a>.</p>

<p>My research focus — even if not bounded to — are</p>

<ul>
  <li>Stochastic and Convex Analysis</li>
  <li>Decision Theory</li>
  <li>Risk and Uncertainty</li>
</ul>

<p>A list of my publications, preprints and talks can be found <a href="http://www.samuel-drapeau.info/research">there</a> and a short CV <a href="http://www.samuel-drapeau.info/CV">here</a>.</p>

<p>The <a href="http://www.samuel-drapeau.info/teaching">teaching</a> section entails the details about current and past lectures as well as some open sourced lecture notes that I’ve written myself or together with others.</p>

    </div>

</body>

</html>