
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BazTechStudio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
<style type="text/css"> a {text-decoration:none;}</style>
</style>
</head> 

 <body>
	<div class=container>
		<div class="sidebar">
			<div class="sidebar-sticky">
				<div class="sidebar-about">
					<h1>
						<a href="profile">
							Vikneshvar Chandrahasan
						</a>
					</h1>
					<p class="lead"> Learn, Explore, Innovate </p>
				</div>
				<nav class="sidebar-nav">
				<a class="sidebar-nav-item" href="profile">Profile</a>
				<a class="sidebar-nav-item" href="career">Career Timeline</a>
				<a class="sidebar-nav-item" href="tech">Skills & Softwares</a>
				<a class="sidebar-nav-item active" href="rp">Research Work</a>
				<a class="sidebar-nav-item" href="ap">Projects</a>
				<a class="sidebar-nav-item" href="contact">Contact</a>
				</nav>
			</div>
			<div class="copyright">
				<p>
				Copyright by Vikneshvar © 2017 - Python <a href="https://www.djangoproject.com/">Django</a>
				</p>
			</div>
		</div>

		<div class="maincontent">
			<h1 class="page-title">Research Papers</h1><br>
			<ol>
				<li style="font-size:30px"><a style="text-decoration:none;" href="rp/rep1">
				Impact of Political Polarization in Business Advertising and Public Relations</a><br>
				</li>
				<br>
				<br>
				<br>
				<li style="font-size:30px"><a href="rp/rep2">
				Public Health Risk Analysis and Geographical Mapping</a>
				</li>
			</ol>
		</div>
	</div>
</body>
</html>


