
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BazTechStudio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
<style type="text/css"> a {text-decoration:none;}</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'js/tech.js' %}"></script>
</head> 

 <body>
	<div class="container">
		<div class="sidebar">
			<div class="sidebar-sticky">
				<div class="sidebar-about">
					<h1>
						<a href="profile">
							Vikneshvar Chandrahasan
						</a>
					</h1>
					<p class="lead"> Learn, Explore, Innovate </p>
				</div>
				<nav class="sidebar-nav">
				<a class="sidebar-nav-item" href="profile">Profile</a>
				<a class="sidebar-nav-item" href="career">Career History</a>
				<a class="sidebar-nav-item active" href="tech">Technical Skill</a>
				<a class="sidebar-nav-item" href="rp">Research</a>
				<a class="sidebar-nav-item" href="ap">Academic Projects</a>
				<a class="sidebar-nav-item" href="contact">Contact</a>
				</nav>
			</div>
			<div class="copyright">
				<p>
				Copyright by Vik Chand © 2017 - Made with <a href="https://www.djangoproject.com/">Django</a>
				</p>
			</div>
		</div>

		<div class="maincontent">
			<h1 class="page-title">Technical Skills</h1>
			<br>
			<table cellpadding="0" cellspacing="0" style="width: 100%">
				<tr>
					<td><h2>Statistics</h2><div id="stat"></div></td>
					<td><h2>Machine Learning</h2><div id="machine"></div></td>
				</tr>
				<tr>
					<td><h2>Programming</h2><div id="programming"></div></td>
					<td><h2>Healthcare & Marketing Analytics</h2><div id="healthMarket"></div></td>
				</tr>
			</table>
			<br>
			<h1>Softwares & Tools</h1>
			<table cellpadding="0" cellspacing="0" style="width: 100%">
				<tr>
					<td><h2>Languages</h2><div id="language"></div></td>
					<td><h2>Database</h2><div id="database"></div></td>
				</tr>
				<tr>
					<td><h2>Statistical Packages</h2><div id="stat2"></div></td>
					<td><h2>Others</h2><div id="others"></div></td>
				</tr>
			</table>
		</div>
</body>

</html>
